@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color  : #EFCA0A;
    --secondary-color : #0086C3;
    --whatsapp-color:#25D366;
    --instagram-color: #C13584;
    --xcom-color: #14171A;
    --facebook-color: #4267B2;
}