@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color  : #EFCA0A;
    --secondary-color : #0086C3;
    --whatsapp-color:#25D366;
    --instagram-color: linear-gradient(45deg,#C13584 0 50%,#FD1D1D 50% 100%);
    --xcom-color: #14171A;
    --facebook-color: #4267B2;
}